<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create task</title>
</head>
<body>
<form action="{{ url_for(source, idx=idx) }}" method="post">

    {% if source == 'tasks.update' %}
        <h1>Update task</h1>
    {% else %}
        <h1>Add task</h1>
    {% endif %}
    <hr>
    {% if session.user_type =='manager' %}
        <label for="title"><strong>Title:</strong></label>
        <input type="text" placeholder="Enter Title" name="title" id="title" value="{% if task %} {{ task.title }} {% endif %}" required>
        <br>
        <label for="description"><strong>Description:</strong></label>

        <textarea id="description" name="description"  rows="4" cols="50">{% if task %}{{ task.title }}{% endif %}</textarea>
        <br>
        <label for="start"><strong>Start date:</strong></label>
        <input type="date" id="taken-on" name="taken-on" required>

        <br>
        <br>
        <label for="start"><strong>End date:</strong></label>

        <input type="date" id="completed-on" name="completed-on" required>

        <br>
    {% endif %}

    <label for="status"><strong>Change Status:</strong></label>

    <select name="status">
        <option value="subscribed">Subscribe</option>
        <option value="completed">Completed</option>
        {% if session.user_type == 'manager' %}
            <option value="open">Open</option>
            <option value="approved">Approved</option>
        {% endif %}
    </select>


    <hr>
    {% if source == 'tasks.update' %}
        <button type="submit">Update</button>
    {% else %}
        <button type="submit">Add</button>
    {% endif %}
    </div>
</form>
<button><a href="{{ url_for('tasks.index') }}">All Tasks</a></button>

</body>
</html>