<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
{% if session.username %}
    Hi, {{ session.username }}
{% endif %}
<br>
<br>
{% if session.user_type == 'manager' %}
    <form action="{{ url_for('tasks.create') }}">
        <button type="submit">Create</button>
    </form>
    <br>
{% endif %}
<form action="{{ url_for('users.logout') }}" method="post">
    <button type="submit">Logout</button>
</form>
<br>
<br>
{% for task in all_tasks %}

    <label for="title"><strong>Title:</strong></label>
    <span>{{ task.title }}</span>
    <br>
    <label for="description"><strong>Description:</strong></label>
    <span>{{ task.description }}</span>
    <br>
    <label for="created-at"><strong>Created at:</strong></label>
    {{ task.created_at }}

    <br><label for="status-l"><strong>Status:</strong></label>

    {{ task.status.value }}
    <br>
    <label for="taken-on"><strong>Taken on:</strong></label>
    {{ task.taken_on }}
    <br>
    <label for="completed-on"><strong>Complete on:</strong></label>
    {{ task.completed_on }}
    <br>

    <button type="button" onclick="window.location.href='{{ url_for('tasks.update', idx=task.idx) }}'"
            value="Update">Update
    </button>
    <br>

    <br>
    <br>
    <br>

{% endfor %}
</body>
</html>