<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="{{ url_for('users.login') }}" method="post">
    <class
    ="container">
    <h1>Login</h1>
    <hr>

    <label for="email"><strong>Username</strong></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required>


    <label for="psw"><strong>Password</strong></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <hr>
    <button type="submit" class="registerbtn">Login</button>
    </div>
</form>
<button><a href="{{ url_for('users.register_user') }}">Register</a></button>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</body>
</html>